@media only screen  and (max-width: 600px) {
    .navbar{
        background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-colorful-background-geometric-fat-gradient-color-bar-image_5190.jpg");
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 25px;
        justify-content: space-between;
    }
    .navbar a{
        color: red;
    }
}
@media only screen  and (min-width: 600px){
    .navbar{
        background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-colorful-background-geometric-fat-gradient-color-bar-image_5190.jpg");
       
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 35px;
        justify-content: space-between;
    }
    .navbar a{
        color:green;
    }
}
@media only screen and (min-width: 900px){
    .navbar{
        background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-colorful-background-geometric-fat-gradient-color-bar-image_5190.jpg");
    
        width: 80%;
        display: flex;
        flex-wrap : wrap;
        font-weight: bold;
        font-size: 55px;
        justify-content: space-between;
    }
    .navbar a{
        color:yellow;
    }
}


#image1{ 
    width:50px;
}
.line{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.line_reverse{
    display:flex;
    flex-direction: column;
    
    justify-content: space-around;
}
.lien{
    color: salmon;
    }

#sect1{border: solid 10px grey;
      display:flex;
      flex-direction: column;
      align-items: center;
      align-content: space-around;    

}
#sect1 b{
    border: 5px solid red;
}
#sect2{border: indigo solid 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    }

#sect3{display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: purple;
    padding: 10px;
    flex-wrap: wrap;
    
                    
}
#sect3 h1{
    background-color:green;
    font-size: 30px;

}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}





footer{ 
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: maroon;
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
}
